[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
openpyxl = "*"
pyinstaller = "*"

[requires]
python_version = "3.8"

[scripts]
build = "Pyinstaller src/csv-masher/main.py --onefile --noconsole --clean  -n csv-masher"
